<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Markdown文档编辑器</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
<div class="container">
    <div class="head"></div>
    <div class="main clearfix">
        <div class="editor-wrap">
            <div id="J_Editor" class="editor"></div>
        </div>
        <div class="prev-wrap">
            <div id="J_Preview" class="markdown-body prev"></div>
        </div>
    </div>
    <div class="foot"></div>
    <div class="menu-wrap" id="J_MenuWrap">
        <span class="menu-ctl" id="J_MenuCtl"></span>
        <span class="J_Menu menu-copy icon-files-empty" title="复制HTML"></span>
        <span class="J_Menu menu-redo2 icon-redo2" title="重新编译"></span>
        <span class="J_Menu menu-scissors icon-scissors" title="存储为图片"></span>
        <span class="J_Menu menu-download icon-folder-download" title="存储为md"></span>
        <span class="J_Menu menu-upload icon-folder-upload" title="导入md"></span>
        <span class="J_Menu menu-forward icon-forward" title="导出HTML"></span>
        <span class="J_Menu menu-embed2 icon-embed2" title="复制md源码"></span>
    </div>
    <div class="tips" id="J_Tips"></div>
    <textarea id="J_Copyer" class="copyer"></textarea>
    <input type="file" id="J_SelectFile" class="sel-file">
</div>
<script src="/libs/vs/loader.js"></script>
<script src="/js/index.js"></script>
</body>
</html>