<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>md2wx</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
<div class="container">
    <div class="head"></div>
    <div class="main clearfix">
        <div class="editor-wrap">
            <div id="J_Editor" class="editor"></div>
        </div>
        <div class="prev-wrap">
            <div id="J_Preview" class="prev"></div>
        </div>
    </div>
    <div class="foot"></div>
</div>
<script src="/libs/vs/loader.js"></script>
<script src="/js/index.js"></script>
</body>
</html>